.command_bar {
    top: 20px;
    width: 500px;
    font-size: 24px;

    /* Make the border */
    border: 4px solid #333333;

    /* Center it*/
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    /* Make sure it is on top */
    z-index:1000;
}

ul.ui-autocomplete {
    border-radius: 0px !important;
}

li.ui-menu-item > a {
    font-size: 20px;
    border-radius: 0px !important;
}

li.ui-autocomplete-category {
    font-weight: bold;
}
